<h1 class="text-center">Which of these two is more <span class="<%= @comparison.measure %>"><%= @comparison.measure %></span>?</h1>
<br/>
<div class="row">
  <div class="col-md-6 text-center" id="choice_left">
    <%= form_for @comparison do |f| %>
      <h2><%= @task_left.description %></h2>
      <%= f.hidden_field :task_left_id, value: @task_left.id %>
      <%= f.hidden_field :task_right_id, value: @task_right.id %>
      <%= f.hidden_field :choice_id, value: @task_left.id %>
      <%= f.hidden_field :measure %>
      <br>
      <input type="submit" value="<%= t('comparisons.choose') %>" class="btn btn-lg btn-primary"/>
    <% end %>
  </div>
  <div class="col-md-6 choice text-center" id="choice_right">
    <%= form_for @comparison do |f| %>
      <h2><%= @task_right.description %></h2>
      <%= f.hidden_field :task_left_id, value: @task_left.id %>
      <%= f.hidden_field :task_right_id, value: @task_right.id %>
      <%= f.hidden_field :choice_id, value: @task_right.id %>
      <%= f.hidden_field :measure %>
      <br>
      <input type="submit" value="<%= t('comparisons.choose') %>" class="btn btn-lg btn-primary"/>
    <% end %>
    <br/>
  </div>
</div>

<div id="progress" class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @current_progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(@current_progress, precision: 0) %>;">
    <%= number_to_percentage(@current_progress, precision: 0) %>
  </div>
</div>
