<!DOCTYPE html>
<html>
  <head>
    <title>PrioDo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?('/') %>
      <div class="logo text-center"><i class="glyphicon glyphicon-signal"></i> <%= link_to 'Prio.io', '/' %></div>
      <div class="container">
        <% if flash[:notice] %>
          <div id="flash" class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
